<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="format-detection" content="telephone=no, email=no"/>
	<meta charset="UTF-8">
	<title>砖石商城</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/core.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/css/home.css">
	<!-- <link rel="icon" type="image/x-icon" href="favicon.ico"> -->
	<style type="text/css">
		{:url('/index/Shangping/detail')}scrollBg{ width: 100%; height: 45px; line-height: 45px;background: rgba(251,55,67,0.8); display: none; z-index:-1; position: fixed; left: 0; top:0; text-align: center; font-size: 20px; color: {:url('/index/Shangping/detail')}fff; }
	</style>
</head>
<body>

	<header class="aui-header-default aui-header-fixed aui-header-clear-bg"> <!-- aui-header-clear-bg 清除背景色 -->
		<a href="{:url('/index/Shangping/detail')}" class="aui-header-item">
			<i class="aui-icon aui-icon-code"></i>
		</a>
		<div class="aui-header-center aui-header-center-clear"  style="margin-right:50px;">
			<div class="aui-header-search-box" style="background-color:{:url('/index/Shangping/detail')}fff">
				<i class="aui-icon aui-icon-small-search"></i>
				<input id="" type="text"  placeholder="手机狂欢节 抢 iPhone X" class="aui-header-search">
			</div>
		</div>
	</header>
	<div class="aui-content-box">
		<div class="aui-banner-content " data-aui-slider>
			<div class="aui-banner-wrapper">
				<div class="aui-banner-wrapper-item">
					<a href="{:url('/index/Shangping/detail')}">
						<img src="__PUBLIC__/themes/img/banner/news-banner2.jpg">
					</a>
				</div>
				<div class="aui-banner-wrapper-item">
					<a href="{:url('/index/Shangping/detail')}">
						<img src="__PUBLIC__/themes/img/banner/news-banner1.jpg">
					</a>
				</div>
				<div class="aui-banner-wrapper-item">
					<a href="{:url('/index/Shangping/detail')}">
						<img src="__PUBLIC__/themes/img/banner/news-banner3.jpg">
					</a>
				</div>
				<div class="aui-banner-wrapper-item">
					<a href="{:url('/index/Shangping/detail')}">
						<img src="__PUBLIC__/themes/img/banner/news-banner1.jpg">
					</a>
				</div>
			</div>
			<div class="aui-banner-pagination"></div>
		</div>
		
		<div class="aui-title-head">
			<img src="__PUBLIC__/themes/img/icon/i-i1.png"  alt="">
		</div>
		<div class="aui-slide-box aui-slide-box-clear">
			<div class="aui-slide-list">
				<ul class="aui-slide-item-list">
					<li class="aui-slide-item-item">
						<a href="{:url('/index/Shangping/detail')}" class="v-link">
							<img class="v-img" src="__PUBLIC__/themes/img/ad/tou-6.jpg">
						</a>
					</li>
					<li class="aui-slide-item-item">
						<a href="{:url('/index/Shangping/detail')}" class="v-link">
							<img class="v-img" src="__PUBLIC__/themes/img/ad/tou-5.jpg">
						</a>
					</li>
					<li class="aui-slide-item-item">
						<a href="{:url('/index/Shangping/detail')}" class="v-link">
							<img class="v-img" src="__PUBLIC__/themes/img/ad/tou-4.jpg">
						</a>
					</li>
					<li class="aui-slide-item-item">
						<a href="{:url('/index/Shangping/detail')}" class="v-link">
							<img class="v-img" src="__PUBLIC__/themes/img/ad/tou-3.jpg">
						</a>
					</li>
					<li class="aui-slide-item-item">
						<a href="{:url('/index/Shangping/detail')}" class="v-link">
							<img class="v-img" src="__PUBLIC__/themes/img/ad/tou-2.jpg">
						</a>
					</li>
					<li class="aui-slide-item-item">
						<a href="{:url('/index/Shangping/detail')}" class="v-link">
							<img class="v-img" src="__PUBLIC__/themes/img/ad/tou-1.jpg">
						</a>
					</li>
				</ul>
			</div>

		</div>
		<div class="aui-title-head">
			<img src="__PUBLIC__/themes/img/icon/i-i2.png"  alt="">
		</div>
		<div class="aui-list-content">
			<div class="aui-list-item">
				<div class="aui-list-item-img">
					<img src="__PUBLIC__/themes/img/pd/cf-4.jpg" alt="">
				</div>
				<div class="aui-slide-box">
					<div class="aui-slide-list">
						<ul class="aui-slide-item-list">
							<li class="aui-slide-item-item">
								<a href="{:url('/index/Shangping/detail')}" class="v-link">
									<img class="v-img" src="__PUBLIC__/themes/img/pd/pd-zf-6.jpg">
									<p class="aui-slide-item-title aui-slide-item-f-els">自动滚筒洗衣机 变频 碳晶银 蒸汽杀菌 智能水循环</p>
									<p class="aui-slide-item-info">
										<span class="aui-slide-item-price">¥4999</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥5699</span>
									</p>
								</a>
							</li>
							<li class="aui-slide-item-item">
								<a href="{:url('/index/Shangping/detail')}" class="v-link">
									<img class="v-img" src="__PUBLIC__/themes/img/pd/pd-zf-7.jpg">
									<p class="aui-slide-item-title aui-slide-item-f-els">科克兰 盐焗烘烤开心果 1.36千克</p>
									<p class="aui-slide-item-info">
										<span class="aui-slide-item-price">¥99</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥198</span>
									</p>
								</a>
							</li>
							<li class="aui-slide-item-item">
								<a href="{:url('/index/Shangping/detail')}" class="v-link">
									<img class="v-img" src="__PUBLIC__/themes/img/pd/pd-zf-8.jpg">
									<p class="aui-slide-item-title aui-slide-item-f-els">榙榙 咸鸭蛋黄饼干 80克/袋</p>
									<p class="aui-slide-item-info">
										<span class="aui-slide-item-price">¥12.9</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥49</span>
									</p>
								</a>
							</li>
							<li class="aui-slide-item-item">
								<a href="{:url('/index/Shangping/detail')}" class="v-link">
									<img class="v-img" src="__PUBLIC__/themes/img/pd/pd-zf-9.jpg">
									<p class="aui-slide-item-title aui-slide-item-f-els">唯他可可 椰子水饮料 330毫升/盒 12盒</p>
									<p class="aui-slide-item-info">
										<span class="aui-slide-item-price">¥189</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥299</span>
									</p>
								</a>
							</li>
							<li class="aui-slide-item-item">
								<a href="{:url('/index/Shangping/detail')}" class="v-link">
									<img class="v-img" src="__PUBLIC__/themes/img/pd/pd-zf-8.jpg">
									<p class="aui-slide-item-title aui-slide-item-f-els">巴黎水 含气青柠味饮料 330毫升 24</p>
									<p class="aui-slide-item-info">
										<span class="aui-slide-item-price">¥129</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥199</span>
									</p>
								</a>
							</li>
							<li class="aui-slide-item-item">
								<a href="{:url('/index/Shangping/detail')}" class="v-link">
									<img class="v-img" src="__PUBLIC__/themes/img/pd/pd-zf-7.jpg">
									<p class="aui-slide-item-title aui-slide-item-f-els">calbee 卡乐比 日本进口休闲零食佳可比黄油味薯条 90克/盒</p>
									<p class="aui-slide-item-info">
										<span class="aui-slide-item-price">¥19.9</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥49</span>
									</p>
								</a>
							</li>
							<li class="aui-slide-item-item">
								<a href="{:url('/index/Shangping/detail')}" class="v-link">
									<img class="v-img" src="__PUBLIC__/themes/img/pd/pd-zf-6.jpg">
									<p class="aui-slide-item-title aui-slide-item-f-els">Calbee 卡乐比 日本进口休闲膨化零食 佳可丽色拉味薯条 60克/杯</p>
									<p class="aui-slide-item-info">
										<span class="aui-slide-item-price">¥19</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥49</span>
									</p>
								</a>
							</li>
							<li class="aui-slide-item-item">
								<a href="{:url('/index/Shangping/detail')}" class="v-link">
									<img class="v-img" src="__PUBLIC__/themes/img/pd/pd-zf-8.jpg">
									<p class="aui-slide-item-title aui-slide-item-f-els">Calbee 卡乐比 日本进口休闲膨化零食 佳可丽色拉味薯条 60克/杯</p>
									<p class="aui-slide-item-info">
										<span class="aui-slide-item-price">¥19</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥49</span>
									</p>
								</a>
							</li>
							<li class="aui-slide-item-item">
								<a href="{:url('/index/Shangping/detail')}" class="v-link">
									<img class="v-img" src="__PUBLIC__/themes/img/pd/pd-zf-6.jpg">
									<p class="aui-slide-item-title aui-slide-item-f-els">Calbee 卡乐比 日本进口休闲膨化零食 佳可丽色拉味薯条 60克/杯</p>
									<p class="aui-slide-item-info">
										<span class="aui-slide-item-price">¥19</span>&nbsp;&nbsp;<span class="aui-slide-item-mrk">¥49</span>
									</p>
								</a>
							</li>
						</ul>
			
		</div>
					</div>

				</div>
			</div>
			
		
				
			</div>
	</div>

	<footer class="aui-footer-default aui-footer-fixed">
		<a href="{:url('/index/Shangping/index')}" class="aui-footer-item aui-footer-active">
			<span class="aui-footer-item-icon aui-icon aui-footer-icon-home"></span>
			<span class="aui-footer-item-text">首页</span>
		</a>
		<a href="{:url('/index/Shangping/car')}" class="aui-footer-item">
			<span class="aui-footer-item-icon aui-icon aui-footer-icon-car"></span>
			<span class="aui-footer-item-text">购物车</span>
		</a>
		<a href="{:url('/index/Shangping/me')}" class="aui-footer-item">
			<span class="aui-footer-item-icon aui-icon aui-footer-icon-me"></span>
			<span class="aui-footer-item-text">我的</span>
		</a>
	</footer>
	<script type="text/javascript" src="__PUBLIC__/themes/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/themes/js/aui.js"></script>
	<script type="text/javascript">
        $(function () {
            //绑定滚动条事件
            //绑定滚动条事件
            $(window).bind("scroll", function () {
                var sTop = $(window).scrollTop();
                var sTop = parseInt(sTop);
                if (sTop >= 40) {
                    if (!$("{:url('/index/Shangping/detail')}scrollBg").is(":visible")) {
                        try {
                            $("{:url('/index/Shangping/detail')}scrollBg").slideDown();
                        } catch (e) {
                            $("{:url('/index/Shangping/detail')}scrollBg").show();
                        }
                    }
                }
                else {
                    if ($("{:url('/index/Shangping/detail')}scrollBg").is(":visible")) {
                        try {
                            $("{:url('/index/Shangping/detail')}scrollBg").slideUp();
                        } catch (e) {
                            $("{:url('/index/Shangping/detail')}scrollBg").hide();
                        }
                    }
                }
            });
        })
	</script>
</body>
</html>