{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">地区管理</li>
            <li class=""><a href="{:url('backend/city/add')}">添加地区</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th style="width: 30px;">ID</th>
                        <th>地区名称(点击进入该地区)</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {if condition="$parent"}
					<tr>
                        <td>{$parent.id}</td>
                        <td>{$parent.city_name}</td>
                        <td>
                            <a href="{:url('backend/city/add',['pid'=>$parent['id']])}" class="layui-btn layui-btn-mini">添加子地区</a>
                            <a href="{:url('backend/city/edit',['id'=>$parent['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                            <a href="{:url('backend/city/delete',['id'=>$parent['id']])}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                        </td>
                    </tr>
					{/if}
					{foreach name="city_list" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td><a href="{:url('backend/city/index',['id'=>$vo['id']])}"> {if condition="$parent"}|----{/if}{$vo.city_name}</a></td>
                        <td>
                            <a href="{:url('backend/city/add',['pid'=>$vo['id']])}" class="layui-btn layui-btn-mini">添加子地区</a>
                            <a href="{:url('backend/city/edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                            <a href="{:url('backend/city/delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}