<!DOCTYPE HTML>
<meta charset="utf-8">
<html>
    <head>
        <title>tree</title>
        <link rel="stylesheet" href="__JS__/chartree/demo.css"/>
        <link rel="stylesheet" href="__JS__/chartree/jquery.orgchart.css"/>
        <style>
        span.title {
            font-weight: normal;
            font-style: italic;
            color: #404040;
        }
        </style>
        <script src="__JS__/chartree/jquery-1.12.3.min.js"></script>
        <script src="__JS__/chartree/jquery.orgchart.js"></script>
        <script>
        $(function() {
            $("#organisation").orgChart({container: $("#main")});
        });
		
        </script>
    </head>

    <body>
 
        
        

        <div id="content">
        
        
            <div id="main">
			
			{$user}
			
            </div>
            
            

        </div>
            
  </body>

</html>
