<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>懂贷咖</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__ICSS__/iconfont.css">
    <link rel="stylesheet" href="__ICSS__/style.css">
    <link rel="stylesheet" href="__ICSS__/feedback.css">
    <script src="__IJS__/mui.min.js"></script>
    <script src="__IJS__/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <div class="service_box">
            <div class="service_top clearfix">
                <div class="sertop_left">
                    <img src="__IIMG__/lawyer/img_wang.png" alt="">
                </div>
                <div class="sertop_right">
                    <p>张三律师</p>
                    <p class="clearfix">
                        <span>执业：<i>7年</i></span>
                        <span>职务：<i>主办律师</i></span>
                    </p>
                    <p class="clearfix">
                        <span>已服务：<i>178人</i></span>
                        <span>处理率：<i>76%</i></span>
                    </p>
                </div>
            </div>
            <p class="service_topti">由系统指派律师已为你提供服务，<span>咨询完成！</span></p>
        </div>
    </header>
    <div class="content_box">
        <p class="service_feiyong">服务评价</p>
        <div class="lawyer_box clearfix">
            <img src="__IIMG__/lawyer/xingxing.png" alt="">
            <img src="__IIMG__/lawyer/xingxing.png" alt="">
            <img src="__IIMG__/lawyer/xingxing.png" alt="">
            <img src="__IIMG__/lawyer/xingxing.png" alt="">
            <img src="__IIMG__/lawyer/xingxing2.png" alt="">
        </div>
        <p class="service_tips"><span>5432</span>人已使用付费服务，并评价！</p>
        <p class="service_feiyong promise">服务承诺</p>
        <p class="service_tips1">感谢此次使用！</p>
        <button class="submit_btn">确认评价</button>
        <button class="cancel_btn">退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出</button>
    </div>
</div>
</body>
</html>