<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>懂贷咖</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/layer/mobile/need/layer.css">
    <link rel="stylesheet" href="__ICSS__/iconfont.css">
    <link rel="stylesheet" href="__ICSS__/style.css">
    <link rel="stylesheet" href="__ICSS__/lawConsult.css">
    <script src="__IJS__/mui.min.js"></script>
    <script src="__IJS__/jquery.min.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
</head>
<body>
<div class="container">
    <header></header>
    <div class="text_area">
        <textarea name="" id="" placeholder="请输入具体问题，以便精准解答..."></textarea>
        <input type="hidden" name="pid" value="{$data.pid}" >
        <button>询问律师</button>
    </div>
    <div class="tab_ban clearfix">
        <div class="ban_item">
            <img src="__IIMG__/lawyer/biaozhun_icon.png" alt="">
            <p>标准正规</p>
        </div>
        <div class="ban_item">
            <img src="__IIMG__/lawyer/jingyan_icon.png" alt="">
            <p>经验丰富</p>
        </div>
        <div class="ban_item">
            <img src="__IIMG__/lawyer/weiquan_icon.png" alt="">
            <p>依法维权</p>
        </div>
        <div class="ban_item">
            <img src="__IIMG__/lawyer/zixun_icon.png" alt="">
            <p>咨询问答</p>
        </div>
    </div>
    <div class="hot_question">
        <p class="question_ti">热门问题解答</p>
        <div class="question_list">
            <p class="question_title"><span>问题</span>怎样才算高利贷？我是否可以不还？</p>
            <p class="answer_num">200位资深律师已为该问题作出权威解答</p>
            <p class="consult_num">已有<span>1875</span>人咨询该问题</p>
            <button>立即查看</button>
        </div>
        <div class="question_list">
            <p class="question_title"><span>问题</span>正规平台，逾期后有很高的逾期费？</p>
            <p class="answer_num">200位资深律师已为该问题作出权威解答</p>
            <p class="consult_num">已有<span>1324</span>人咨询该问题</p>
            <button>立即查看</button>
        </div>
        <div class="question_list">
            <p class="question_title"><span>问题</span>借了7千催收说要上门讨债，是不是真的？</p>
            <p class="answer_num">200位资深律师已为该问题作出权威解答</p>
            <p class="consult_num">已有<span>958</span>人咨询该问题</p>
            <button>立即查看</button>
        </div>
        <div class="question_list">
            <p class="question_title"><span>问题</span>欠的金额,贷款平台说不还就要坐牢？</p>
            <p class="answer_num">200位资深律师已为该问题作出权威解答</p>
            <p class="consult_num">已有<span>521</span>人咨询该问题</p>
            <button>立即查看</button>
        </div>
        <div class="question_list">
            <p class="question_title"><span>问题</span>欠了25万会判多久、出来后钱还要还吗？</p>
            <p class="answer_num">200位资深律师已为该问题作出权威解答</p>
            <p class="consult_num">已有<span>1751</span>人咨询该问题</p>
            <button>立即查看</button>
        </div>
    </div>
    <div class="service_box">
        <p class="service_ti">我们的服务</p>
        <div class="service_item clearfix">
            <div class="service_list">
                <div class="service_logo green_bg">
                    <img src="__IIMG__/lawyer/icon_liucheng.png" alt="">
                </div>
                <p class="service_txt1">律师真可靠</p>
                <p class="service_txt2">严格审核律师资格</p>
            </div>
            <div class="service_list">
                <div class="service_logo orange_bg">
                    <img src="__IIMG__/lawyer/icon_quanyi.png" alt="">
                </div>
                <p class="service_txt1">合法权益最大化</p>
                <p class="service_txt2">优选案件专攻律师</p>
            </div>
            <div class="service_list">
                <div class="service_logo blue_bg">
                    <img src="__IIMG__/lawyer/icon_feiyong.png" alt="">
                </div>
                <p class="service_txt1">律师费合理透明</p>
                <p class="service_txt2">报价项目、服务内容标准化</p>
                <p class="service_txt2">没水分不虚报</p>
            </div>
            <div class="service_list">
                <div class="service_logo red_bg">
                    <img src="__IIMG__/lawyer/icon_set.png" alt="">
                </div>
                <p class="service_txt1">服务高效有保障</p>
                <p class="service_txt2">立即响应，不等了</p>
                <p class="service_txt2">量身打造解决方案</p>
            </div>
        </div>
    </div>
    <div class="service_box service_tese">
        <p class="service_ti">服务特色</p>
        <table border="1">
            <tr>
                <td></td>
                <td>我们的服务</td>
                <td>传统</td>
            </tr>
            <tr>
                <td>便捷</td>
                <td>线上咨询</td>
                <td>线下找律师</td>
            </tr>
            <tr>
                <td>响应速度</td>
                <td>立即响应不等待</td>
                <td>3-5天</td>
            </tr>
            <tr>
                <td>性价比</td>
                <td>价格透明报价标准化</td>
                <td>报价因人而异</td>
            </tr>
            <tr>
                <td>专业度</td>
                <td>优选领域专攻律师</td>
                <td>靠碰运气找好律师</td>
            </tr>
        </table>
    </div>
    <div class="service_box service_tese">
        <p class="service_ti">为什么选择我们</p>
        <div class="choose_box clearfix">
            <div class="choose_list">
                <img src="__IIMG__/lawyer/icon_weiquan.png" alt="">
                <p class="choose_title">助你依法维权</p>
                <p class="choose_txt">律师结合法律规范、司法判例、个人经验，分析您可争取的所有权益，为您掌握主动权出谋划策，避免遗漏自己不知道的权益或遭受不必要的损失，保障您的权益最大化。</p>
            </div>
            <div class="choose_list">
                <img src="__IIMG__/lawyer/icon_lvshi.png" alt="">
                <p class="choose_title">匹配经验丰富律师</p>
                <p class="choose_txt">根据您的案件，我们将为您匹配拥有丰富的此类办理经验的律师，为您深度分析法律问题，提供权威解决方案，排疑解惑，为您快速高效地争取最大权益。</p>
            </div>
            <div class="choose_list">
                <img src="__IIMG__/lawyer/icon_zhengju.png" alt="">
                <p class="choose_title">协助证据采集</p>
                <p class="choose_txt">何时何地出示哪些证据最有利，这些证据如何去搜集， 律师帮您来梳理，您不用再每天焦头烂额，被这些问题困扰。</p>
            </div>
            <div class="choose_list">
                <img src="__IIMG__/lawyer/icon_guifan.png" alt="">
                <p class="choose_title">服务正规标准化</p>
                <p class="choose_txt">我们汇集一批专业律师，会结合您的实际情况，为您匹配最符合的律师。律师费合理透明，报价项目、服务内容标准化。</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <img class="sanjiao" src="__IIMG__/sanjiao.png" alt="">
        <p class="footer_ti">懂贷咖</p>
        <p class="footer_txt">资信查询，债务处理，法律援助，论坛交流。</p>
        <p class="footer_des">抵制套路贷&nbsp;&nbsp;&nbsp;传播正能量</p>
        <img class="erweima" src="__IIMG__/erweima.png" alt="">
    </div>
    <div class="cover_box">
        <div class="cover_wrap">
            <p class="cover_ti1">输入手机号</p>
            <p class="cover_ti2">仅解答律师可见</p>
            <p class="cover_ti3">请输入手机号</p>
            <input type="text" placeholder="请输入11位手机号">
            <button class="submit">提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</button>
            <button class="cancle">暂不提交</button>
        </div>
    </div>
</div>
</body>
<script>
    $(function(){
        $(".text_area button").click(function(){
            if($(".text_area textarea").val() != ''){
                $(".cover_box").show();
            }else{
                layer.msg("请输入咨询问题哦~")
            }
        });

        $(".submit").click(function(){
            var telTest = /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
            if(telTest.test($(".cover_wrap input").val())){
                var content = $(".text_area textarea").val();
                var mobile = $(".cover_wrap input").val();
                var pid = $('input[name="pid"]:hidden').val();
                $.ajax({
                    url:'{:url("/api/lawyer/add")}',
                    type:'post',
                    dataType:'json',
                    data:{'content':content,'mobile':mobile,'pid':pid},
                    success:function(json){
                        if(json.code == 0){
                            location.href = json.data.redirect;
                        }else{
                            layer.msg(json.message);
                        }
                    }
                });
            }else if($(".cover_wrap input").val() == ''){
                layer.msg('请输入手机号码');
                return;
            }else{
                layer.msg('请输入正确手机号码');
            }
        });


        $(".cancle").click(function(){
            $(".cover_box").hide();
        })
    })
</script>
</html>