<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>懂贷咖</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__ICSS__/iconfont.css">
    <link rel="stylesheet" href="__ICSS__/style.css">
    <link rel="stylesheet" href="__ICSS__/question.css">
    <script src="__IJS__/mui.min.js"></script>
    <script src="__IJS__/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="content">
        <img class="question_img1" src="__IIMG__/lawyer/question_txt.png" alt="">
        <img class="question_img2" src="__IIMG__/lawyer/question_eng.png" alt="">
        <p class="question_ti">
            <span></span> 问题 <span></span>
        </p>
        <div class="question_box">
            <span>Q</span>
            <div class="question_des">
                我在XX金融上借了2000元，但是到账只有1500，7天后我要还2000元，这算不算高利贷？我是否可以不还？
            </div>
            <div class="anwser_des">
                首先，法律规定：<br/>
                1、年利率24%以下的民间借贷受法律保护；<br/>
                2、年利率24%～36%之间的属于自由债务。债务人给了，则不能要求返还，债务人没给，法律也不追究；<br/>
                3、36%以上的利息是违法的。如果你被债主起诉了，法院会判定你还24%的利息，超过部分是法院不会要求你归还。<br/>
                很多人都不会计算利率，这里我举个例子：<br/>
                问题中，相当于借了1500元，7天的利息是500元，那么周利率为500÷1500=33.3%，年利率为33.3%÷7×365=1738%<br/>
                1000%多的利息，那肯定是高利贷啊，高利贷的利息是不受法律保护的，但你签订了合同，本金还是要还。可以跟对方协商归还对方本金，使用期间的利息只还其年化36%的利息。
            </div>
        </div>
    </div>
</div>
</body>
</html>