<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公告</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link rel="stylesheet" href="__ICSS__/article.css">
    <script src="__PUBLIC__/js/mui.min.js"></script>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <h5>钻石信用升级了！</h5>
            <p class="release_time"><img src="__IIMG__/ddk_logo.png" alt=""> 09.04 12:56</p>
            <p class="article_cont">钻石信用在广大合作商的支持下，从最开始的每天个位数订单，稳健发展至今每天订单2万+，8.25日更是创下单日访问用户1000万+的绝佳数据，创造行业奇迹。9月来临，应合作商们的要求，对系统进行了升级，数据更加精准，推广赚钱更加方便。考虑到部分的合作商是团队推广，在推广的同时不方便统计员工业绩，在程序员的努力下，独家创新开通了员工号功能。使用方法，现有的代理商登录PC端后台，菜单的最下方新增了员工管理、员工订单、邀请代理三个选项。代理商旗下的员工，分别有自己的推广链接，可以查看自己的业绩，员工后台去掉了余额和提现以及邀请代理功能，员工所推广的佣金直接进入代理商余额中。
                <img src="__IIMG__/img_commit1.png" alt="">
                曾有代理商跟小钻反馈之前的报告页面不够精美，公司又换了一批设计师，对报告页面、邀请代理的页面等做了全面的更新和完善。打开查询报告，首先映入眼帘的就是个人评分指数和资质评级的等级，更加直观，清晰明了。用小火箭向前冲的动态图来显示个人信用度打败全国多少百分比的用户，视觉效果更加印象深刻。
            </p>
            <button class="copy_btn">复制链接</button>
        </div>
    </div>
</body>
</html>