<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>常见问题</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__ICSS__/iconfont.css">
    <link rel="stylesheet" href="__ICSS__/style.css">
    <link rel="stylesheet" href="__ICSS__/common_problem.css">
    <script src="__IJS__/mui.min.js"></script>
    <script src="__IJS__/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="content">
        <p class="problem">1.懂贷咖代理商后台需要付费吗？</p>
        <p class="answer">答：不需要，本平台承诺永久免费试用。</p>
        <p class="problem">2.平台稳定吗？</p>
        <p class="answer">答：平台开发人员均有着多年的互联网产品开发经验，上游产品资源优质，系统运行十分稳定。</p>
        <p class="problem">3.如何推广借款查询平台和律师咨询服务？</p>
        <p class="answer">答：点击【产品推广】-选择【借款平台查询】活【律师咨询服务】或【一键推广】，选择你想要推广的产品，设置好价格后，点击【立即推广】即可分享推广链接或二维码海报。</p>
        <p class="problem">4.如何发展下级代理商？</p>
        <p class="answer">答：点击【产品推广】-选择【推广下级代理商】，你可以选择链接或二维码中的任意一种方式，分享给你要推广的朋友即可。</p>
        <p class="problem">5.佣金如何提现？</p>
        <p class="answer">答：点击【个人中心】-【立即提现】，绑定你的支付宝账号或本人正常状态的银行卡即可提现。一般实时到帐。</p>
    </div>
</div>
</body>
</html>