<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>联系我们</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__ICSS__/iconfont.css">
    <link rel="stylesheet" href="__ICSS__/style.css">
    <link rel="stylesheet" href="__ICSS__/contact.css">
    <script src="__IJS__/mui.min.js"></script>
    <script src="__IJS__/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="erweima_box">
        <div>
            <img src="__IIMG__/erweima.png" alt="">
            <p>懂贷咖客服二维码</p>
        </div>
        <div>
            <img src="__IIMG__/erweima.png" alt="">
            <p>懂贷咖公众号二维码</p>
        </div>
    </div>
    <p class="contact_tips">长按二维码保存，添加客服微信，可随时联系到我们</p>
</div>
</body>
</html>