<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>代理商推广</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/css/mui.picker.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link rel="stylesheet" href="__ICSS__/promotion.css">
    <script src="__PUBLIC__/js/mui.min.js"></script>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/mui.picker.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="promotion_box">
            <p class="promo_ti">推广链接</p>
            <p class="promo_link">https://www.zcool.com.cn</p>
            <button>复制链接</button>
        </div>
        <div class="promotion_box">
            <p class="promo_ti">推广二维码</p>
            <img src="__IIMG__/erweima.png" alt="">
            <p class="promo_txt">长按二维码，分享给好友进行推广</p>
        </div>
        <p class="promotion_tips">好友通过你的推广成为代理商，你和好友均可获得收益。推广的人越多，收益越多！</p>
    </div>
</body>
</html>