<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>懂贷咖</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/css/mui.picker.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/mui.dtpicker.css">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link rel="stylesheet" href="__ICSS__/ranking.css">
    <script src="__PUBLIC__/js/mui.min.js"></script>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/mui.picker.min.js"></script>
    <script src="__PUBLIC__/js/mui.dtpicker.js"></script>
</head>
<body>
    <div class="container">
        <p class="ranking_tab">
            <span class="active">借款平台查询</span>
            <span>律师咨询服务</span>
        </p>
        <div class="ranking_box">
            <div class="ranking_list active">
                <ul>
                    <li>
                        <p class="list_left">
                            <img class="first_img" src="__IIMG__/dailishang/ranking_first.png" alt="">
                            <img class="head_img" src="__IIMG__/dailishang/user_headnan.png" alt="">
                            <span class="username">大脸猫</span>
                        </p>
                        <p class="list_right">
                            提成：<span>1203.48</span>
                        </p>
                    </li>
                    <li>
                        <p class="list_left">
                            <img class="first_img" src="__IIMG__/dailishang/ranking_second.png" alt="">
                            <img class="head_img" src="__IIMG__/dailishang/user_headnan.png" alt="">
                            <span class="username">爱情发明家</span>
                        </p>
                        <p class="list_right">
                            提成：<span>1198.23</span>
                        </p>
                    </li>
                    <li>
                        <p class="list_left">
                            <img class="first_img" src="__IIMG__/dailishang/ranking_third.png" alt="">
                            <img class="head_img" src="__IIMG__/dailishang/user_headnan.png" alt="">
                            <span class="username">就是想飞啊</span>
                        </p>
                        <p class="list_right">
                            提成：<span>1178.33</span>
                        </p>
                    </li>
                    <li>
                        <p class="list_left">
                            <span class="ranking_num">4</span>
                            <img class="head_img" src="__IIMG__/dailishang/user_headnan.png" alt="">
                            <span class="username">就是想飞啊</span>
                        </p>
                        <p class="list_right">
                            提成：<span>1165.93</span>
                        </p>
                    </li>
                    <li>
                        <p class="list_left">
                            <span class="ranking_num">5</span>
                            <img class="head_img" src="__IIMG__/dailishang/user_headnan.png" alt="">
                            <span class="username">就是想飞啊</span>
                        </p>
                        <p class="list_right">
                            提成：<span>1165.93</span>
                        </p>
                    </li>
                    <li>
                        <p class="list_left">
                            <span class="ranking_num">6</span>
                            <img class="head_img" src="__IIMG__/dailishang/user_headnan.png" alt="">
                            <span class="username">就是想飞啊</span>
                        </p>
                        <p class="list_right">
                            提成：<span>1165.93</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="ranking_list">
                <ul>
                    <li>
                        <p class="list_left">
                            <img class="first_img" src="__IIMG__/dailishang/ranking_first.png" alt="">
                            <img class="head_img" src="__IIMG__/dailishang/user_headnan.png" alt="">
                            <span class="username">大脸猫</span>
                        </p>
                        <p class="list_right">
                            提成：<span>411203.68</span>
                        </p>
                    </li>
                    <li>
                        <p class="list_left">
                            <img class="first_img" src="__IIMG__/dailishang/ranking_second.png" alt="">
                            <img class="head_img" src="__IIMG__/dailishang/user_headnan.png" alt="">
                            <span class="username">爱情发明家</span>
                        </p>
                        <p class="list_right">
                            提成：<span>351198.23</span>
                        </p>
                    </li>
                    <li>
                        <p class="list_left">
                            <img class="first_img" src="__IIMG__/dailishang/ranking_third.png" alt="">
                            <img class="head_img" src="__IIMG__/dailishang/user_headnan.png" alt="">
                            <span class="username">就是想飞啊</span>
                        </p>
                        <p class="list_right">
                            提成：<span>301178.33</span>
                        </p>
                    </li>
                    <li>
                        <p class="list_left">
                            <span class="ranking_num">4</span>
                            <img class="head_img" src="__IIMG__/dailishang/user_headnan.png" alt="">
                            <span class="username">就是想飞啊</span>
                        </p>
                        <p class="list_right">
                            提成：<span>281165.93</span>
                        </p>
                    </li>
                    <li>
                        <p class="list_left">
                            <span class="ranking_num">5</span>
                            <img class="head_img" src="__IIMG__/dailishang/user_headnan.png" alt="">
                            <span class="username">就是想飞啊</span>
                        </p>
                        <p class="list_right">
                            提成：<span>268265.93</span>
                        </p>
                    </li>
                    <li>
                        <p class="list_left">
                            <span class="ranking_num">6</span>
                            <img class="head_img" src="__IIMG__/dailishang/user_headnan.png" alt="">
                            <span class="username">就是想飞啊</span>
                        </p>
                        <p class="list_right">
                            提成：<span>265164.03</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script>
    $(function(){
        $(".ranking_tab span").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
            var index = $(this).index();
            $(".ranking_list").eq(index).addClass("active").siblings().removeClass("active");
        })
    })
</script>
</html>