<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>一键推广定价</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__ICSS__/iconfont.css">
    <link rel="stylesheet" href="__ICSS__/style.css">
    <link rel="stylesheet" href="__ICSS__/three_price.css">
    <script src="__IJS__/mui.min.js"></script>
    <script src="__IJS__/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="price_box">
            <p class="price_ti1">平台查询服务</p>
            <p class="price_ti1">平台查询成本价：11.00</p>
            <input type="text" placeholder="请设置平台查询推广价格">
            <div class="clear"></div>
        </div>
        <div class="price_box">
            <p class="price_ti1">律师咨询服务</p>
            <p class="price_ti1">在线咨询成本价：11.00</p>
            <input type="text" placeholder="请设置在线咨询推广价格">
            <div class="clear"></div>
        </div>
        <div class="price_box">
            <p class="price_ti1">热门问题成本价：11.00</p>
            <input type="text" placeholder="请设置热门问题推广价格">
            <div class="clear"></div>
        </div>
        <p class="yong">佣金=推广价格-成本价格</p>
    </div>
    <button class="submit_btn">确定</button>
</div>
</body>
</html>