{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('backend/company/index')}">公司列表</a></li>
            <li class="layui-this">添加公司</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('backend/company/save')}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">平台名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" value="{if condition="isset($get['name']) && !empty($get['name'])"}{$get['name']}{/if}" required lay-verify="required" placeholder="平台名称"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">平台logo</label>
                        <div class="layui-input-block">
                            <input type="text" name="logo" value="" class="layui-input layui-input-inline" id="thumb">
                            <button type="button" class="layui-btn" id="file_upload" data-type="4"
                                    style="height: 38px;"><i class="layui-icon">&#xe67c;</i>上传图片
                            </button>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">综合评分</label>
                        <div class="layui-input-block">
                            <input type="text" name="score" value="" required lay-verify="required" placeholder="5" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">电话催收评分</label>
                        <div class="layui-input-block">
                            <input type="text" name="p_collection" value="" required lay-verify="required" placeholder="5" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">上门催收评分</label>
                        <div class="layui-input-block">
                            <input type="text" name="s_collection" value="" required lay-verify="required" placeholder="5" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">司法催收评分</label>
                        <div class="layui-input-block">
                            <input type="text" name="c_collection" value="" required lay-verify="required" placeholder="5" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">可贷额度</label>
                        <div class="layui-input-block">
                            <input type="text" name="amount" value="" required lay-verify="required"
                                   placeholder="请输入放款额度如:1千-5千" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">年化利率</label>
                        <div class="layui-input-block">
                            <input type="text" name="interest" value="" placeholder="请输入利息如:年化12%-24%" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">是否查征信</label>
                        <div class="layui-input-block">
                            {foreach $iswhether as $key => $value}
                            <input type="radio" name="isletter" value="{$value}" {if condition="$key == 0"
                                   }checked="checked" {/if} title="{$value}">
                            {/foreach}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">是否上征信</label>
                        <div class="layui-input-block">
                            {foreach $iswhether as $key => $value}
                            <input type="radio" name="isonletter" value="{$value}" {if condition="$key == 0"
                                   }checked="checked" {/if} title="{$value}">
                            {/foreach}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">年龄要求</label>
                        <div class="layui-input-block">
                            <input type="text" name="age" value="" required lay-verify="required"
                                   placeholder="请输入年龄要求如:18-55岁" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">可贷期数</label>
                        <div class="layui-input-block">
                            <input type="text" name="periods" value="" required lay-verify="required"
                                   placeholder="请输入放款额度如:7-14天" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">成立时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="established" value="" required lay-verify="required"
                                   placeholder="请输入平台成立时间如:3年以上" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">公司所在地</label>
                        <div class="layui-input-block">
                            <input type="text" name="city" value="" placeholder="请输入平台所在地" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">持有金融牌照类型</label>
                        <div class="layui-input-block">
                            <select name="islicense" lay-verify="required">
                                {foreach name="islcense" item="vo"}
                                <option value="{$key}">{$vo}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">征信上体现名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="creditname" value=""  placeholder="请输入征信商体现名称" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">所属机构</label>
                        <div class="layui-input-block">
                            <input type="text" name="mechanism" value="" required lay-verify="required"
                                   placeholder="请输入放款机构如:*****有限公司" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">联系电话</label>
                        <div class="layui-input-block">
                            <input type="text" name="phone" value="" required lay-verify="required"
                                   placeholder="请输入联系电话" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">公司地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="address" value="" placeholder="请输入平台所在地" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}