{extend name="base" /}
{block name="body"}

<div class="layui-body">
    <!--tab标签-->
    <style>
        .layui-input-block{
            margin-left: 0px;
            min-height: 0px;
        }
        .layui-layer-page .layui-layer-content{
            overflow: inherit;
        }
    </style>
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">公司列表</li>
            <li class=""><a href="{:url('backend/company/add')}">添加公司</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form layui-form-pane" id="myform" action="{:url('backend/company/index')}" method="get">
                    <div class="layui-inline">
                        <label class="layui-form-label">关键词</label>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="{$keyword}" placeholder="请输入关键词" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">类型</label>
                        <div class="layui-input-block">
                            <select name="platformType" lay-verify="required">
                                <option value="0">全部</option>
                                {foreach name="$loan" item="vo"}
                                <option value="{$key}" {if condition="isset($sts) && !empty($sts) && $sts == $key"}selected="selected"{/if} >{$vo}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input start_time" name="start_time" id="date1" value="{$start_time}">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input end_time" name="end_time" id="date2" value="{$end_time}">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn">搜索</button>
                    </div>
                    <div class="layui-inline" onclick="excel()">
                        <button  class="layui-btn">导出模板</button>
                    </div>
                    <div class="layui-inline ">
                         <button type="button" class="layui-btn" id="file_excel" data-type="2" >导入数据</button>
                    </div>
                </form>
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>平台</th>
                        <th>额度</th>
                        <th>期限</th>
                        <th>机构</th>
                        <th>电话</th>
                        <th>状态</th>
                        <th>访问量</th>
                        <th>logo</th>
                        <th>创建时间</th>
                        <th width="8%">操作</th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center;">
                    {foreach name="data" item="vo"}
                    <tr>
                        <td style="width:4%">{$vo.id}</td>
                        <td style="width:10%">{$vo.name}</td>
                        <td style="width:8%">{$vo.amount}</td>
                        <td style="width:5%">{$vo.periods}</td>
                        <td style="width:15%;">{$vo.mechanism}</td>
                        <td style="width:10%">{$vo.phone}</td>
                        <td style="width:4%">{$status[$vo.status]}</td>
                        <td style="width:4%"><a href="{:url('backend/company/index',['flow'=>1])}" style="color:#4b9ffa">{$vo.flow}</a></td>
                        <td style="width:4%">{if condition="isset($vo.logo) && !empty($vo.logo)"}<img src="{$vo.logo}" width="40px" height="40px"/>{/if}</td>
                        <td  style="width:10%">{$vo.createdAt|date="Y-m-d H:i:s",###}</td>
                        <td style="text-align:center; width:15%">
                            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-xs send_btn" data-id="{$vo.id}" data-name="{$vo.name}">评论</a>
                            <a href="{:url('backend/platform/index',['id'=>$vo['id']])}" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
                            <a href="{:url('backend/company/edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-xs">编辑</a>
                            <a href="{:url('backend/company/delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-xs ajax-delete">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页-->
                {$data->render()}
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>


    $(".send_btn").on('click',function(){
        var id = $(this).attr('data-id');
        //var index = layer.load();
        var name = $(this).attr('data-name');
        layer.open({
            type: 1,
            title:name,
            area: ['350px', '200px'],
            btn:['确定','取消'],
            scrollbar: false,
            content: '<form class="layui-form" action=""> ' +
                '<div class="layui-form-item layui-form-text">' +
                '<div class="layui-input-block">'+
                '<textarea name="contents" placeholder="内容" class="layui-textarea"></textarea>'+
                '</div>'+
                '</div>'+
                '</form>'
            ,yes: function(index,layero){
                var content = $('textarea[name="contents"]').val();
                $.ajax({
                    url:'/backend/platform/save',
                    type:'post',
                    dataType:'json',
                    data:{'content':content,'cid':id},
                    success:function(info){
                        //layer.close(index);
                        if(info.code == 0){
                            layer.msg(info.message,{tiem:300},function(){
                                window.location.reload();
                            });
                        }else{
                            layer.msg(info.message,{tiem:300});
                        }
                    }
                })
            }
        });
    });
function excel(){
    $("#myform").attr('action',"{:url('/backend/company/excel')}");
};
</script>
{/block}
