@charset "UTF-8";
body{font-family: PingFang-SC-Regular;background: #f4f4f4;}
.container{
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}
.container input{
    width: 4.6rem;
	height: 0.6rem;
	background-color: #ffffff;
    border-radius: 0.12rem;
    display: block;
    margin: 0.2rem auto;
    font-size: 0.28rem;
    color: #333;
    text-align: center;
    padding: 0;
    border: none;
}
.container button{
    width: 2.11rem;
	height: 0.5rem;
	background-color: #7785eb;
    border-radius: 0.1rem;
    font-size: 0.3rem;
    color: #ffffff;
    display: block;
    margin: 0.3rem auto;
    border: none;
}