<div class="tabbar">
    <div class="tab_item active">
        <p><span class="iconfont iconmingxi"></span></p>
        <p>收入明细</p>
    </div>
    <div class="tab_item">
        <p><span class="iconfont iconchanpintuiguang"></span></p>
        <p>产品推广</p>
    </div>
    <div class="tab_item">
        <p><span class="iconfont iconsee-icon-m3-notice-fill"></span></p>
        <p>平台公告</p>
    </div>
    <div class="tab_item">
        <p><span class="iconfont iconicon-test"></span></p>
        <p>个人中心</p>
    </div>
</div>
