<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>懂贷咖</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__ICSS__/iconfont.css">
    <link rel="stylesheet" href="__ICSS__/style.css">
    <link rel="stylesheet" href="__ICSS__/paid.css">
    <script src="__IJS__/mui.min.js"></script>
    <script src="__IJS__/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="logo_box">
            <img src="{if condition='isset($img) && !empty($img)'}{$img}{else/}__PUBLIC__/logo/ddk.png{/if}" alt="">
        </div>
        <p class="platform_name"></p>
        <p class="saomiao"><img src="__IIMG__/saomiao.png" alt="">未能扫描到您查询的数据</p>
        <div class="saomiao_list">
            <ul>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">可贷额度
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">年龄要求
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">可贷期数
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">利息区间
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">所属机构
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">公司地址
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">放贷前是否查征信
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">逾期记录是否上征信
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">征信上体现名称
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">成立时间
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">联系电话
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">网络小贷牌照
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
                <li class="clearfix">
                    <p class="list_left">
                        <img src="__IIMG__/xuanxiang.png" alt="">其他用户真实评价
                    </p>
                    <p class="list_right">
                        <img src="__IIMG__/suo.png" alt="">待解锁
                    </p>
                </li>
            </ul>
        </div>
        <div class="cover">
            <div class="cover_box">
                <p class="cover_ti">您将错过以下检测</p>
                <div class="jiance clearfix">
                    <div class="jiance_item">
                        <img src="__IIMG__/img_heimingdan.png" alt="">
                        <p>黑名单记录</p>
                    </div>
                    <div class="jiance_item">
                        <img src="__IIMG__/img_shouxin.png" alt="">
                        <p>授信预估</p>
                    </div>
                    <div class="jiance_item">
                        <img src="__IIMG__/img_fengxian.png" alt="">
                        <p>风险排查</p>
                    </div>
                </div>
                <p class="cover_tips">支付成功了解更多个人信息，预防个人风险，借钱不再困难。</p>
                <div class="cover_bot">
                    <button class="give_up">放弃查看</button>
                    <button class="continue">继续查询</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
