{extend name="base" /}
{block name="body"}



<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('admin/note/index')}">笔记管理</a></li>
            <li class="layui-this">修改笔记</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('admin/note/edit')}" method="post"  enctype="multipart/form-data">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" value="{$note_list.title}" required lay-verify="required" placeholder="请输入标题" class="layui-input">
                            <input type="hidden" name="id" value="{$note_list.id}" required lay-verify="required" placeholder="" class="layui-input">
                        </div>
                    </div>
					
					
                    <div class="layui-form-item">
                        <label class="layui-form-label">内容</label>
                        <div class="layui-input-block">
                            <textarea id="container" name="content" cols="30" rows="15" style="width:100%; margin: 0 auto;">
								{$note_list.content}
    						</textarea>
                        </div>
                    </div>
					 {foreach name="wenjianlist" item="vo"}
                    <div class="layui-form-item">
					
                        <label class="layui-form-label">附件</label>
                        <div class="layui-input-block">
                        {$vo.dizhi}<a href="{:url('admin/note/wenjiandel',['id'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                        </div>
					
					 </div>
					 {/foreach}
                        <div class="layui-form-item">
                         	<label class="layui-form-label">添加附件</label>
							   <input type="file" name="examfile" /><br/>
							
                    	</div>
                   
                    
    				 <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
				    <!-- 编辑器源码文件 -->
				    <script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
				    <!-- 实例化编辑器 -->
				    <script type="text/javascript">
				        //var ue = UE.getEditor('container');
				        var ue = UE.getEditor('container', {
				            autoHeightEnabled:false,
				            initialFrameHeight:420
				        });
				    </script>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" type="submit">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
