<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>微信支付</title>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript">
        $().ready(function(){
            callpay();
        });
        //调用微信JS api 支付
        function onBridgeReady(){
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                    "appId" : "wxeeeeeeeeeeeeeeee",   //公众号名称，由商户传入
                    "timeStamp":"0000000000",         //时间戳，自1970年以来的秒数
                    "nonceStr" : "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", //随机串
                    "package" : "prepay_id=bbbbbbbbbbbbbbbbbbbbb",
                    "signType" : "MD5",              //微信签名方式:
                    "paySign" : "MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM" //微信签名
                },
                function(res){
                    // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg 将在用户支付成功后返回 ok，但并不保证它绝对可靠。
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {}
                }
            );
        }
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        }else{
            onBridgeReady();
        }




        function jsApiCall()
        {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {$result},
                function(res){WeixinJSBridge.log(res.err_msg);}
            );
        }

        function callpay() {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }


        function query(){
            var order_no="{$order_no}";
            $.post("/index/index/one",{out_trade_no:order_no}, function(data) {
                if(data.code == 0){
                    window.location.href="{:url('index/index/detail')}?out_trade_no="+data.data.id;
                }
            },'json');
        }
        $(document).ready(function(){
            setInterval(query, 3000);
        });
    </script>
</head>
<body>
</body>
</html>