<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__ICSS__/iconfont.css">
    <link rel="stylesheet" href="__ICSS__/style.css">
    <link rel="stylesheet" href="__ICSS__/user.css">
    <script src="__IJS__/mui.min.js"></script>
    <script src="__IJS__/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <img class="user_head" src="__IIMG__/userhead_mm.png" alt="">
        <p>爱吃鱼的猫</p>
        <img class="set_icon" src="__IIMG__/img_setup.png" alt="">
        <span class="iconfont iconconfig--shixin"></span>
    </header>
    <ul class="tab_box clearfix">
        <li class="tab_list">
            <p><span class="iconfont iconshoucang"></span></p>
            <p>我的关注</p>
        </li>
        <li class="tab_list active">
            <p><span class="iconfont iconpinglun"></span></p>
            <p>我的评论</p>
        </li>
        <li class="tab_list">
            <p><span class="iconfont iconfabu"></span></p>
            <p>我的发布</p>
        </li>
        <li class="tab_list">
            <p><span class="iconfont iconchaxun1"></span></p>
            <p>查询记录</p>
        </li>
    </ul>
    <div class="gray_bg"></div>
    <div class="content_box">
        <div class="concern_bot tab_content">
            <!-- 没有关注数据 -->
            <div class="nodate">
                <img src="__IIMG__/no_concern.png" alt="">
                <p>哎呀，您还没有关注任何平台呢！</p>
                <button>我要去查询</button>
            </div>
            <ul>
                <li class="clearfix">
                    <div class="concern_left">
                        <img src="__IIMG__/logo_renrendai.png" alt="">
                    </div>
                    <div class="concern_cen">
                        <p>人人贷</p>
                        <p>被关注：<span>100000</span></p>
                        <p>综合评分：<span>3.5</span></p>
                    </div>
                    <div class="concern_right">
                        <button>取消关注</button>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="concern_left">
                        <img src="__IIMG__/logo_yirendai.png" alt="">
                    </div>
                    <div class="concern_cen">
                        <p>宜人贷</p>
                        <p>被关注：<span>98653</span></p>
                        <p>综合评分：<span>3.0</span></p>
                    </div>
                    <div class="concern_right">
                        <button>取消关注</button>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="concern_left">
                        <img src="__IIMG__/logo_niwodai.png" alt="">
                    </div>
                    <div class="concern_cen">
                        <p>你我贷</p>
                        <p>被关注：<span>75632</span></p>
                        <p>综合评分：<span>3.0</span></p>
                    </div>
                    <div class="concern_right">
                        <button>取消关注</button>
                    </div>
                </li>
            </ul>
            <p class="last_tips">已显示全部关注</p>
        </div>
        <div class="commit_bot tab_content active">
            <!-- 没有评论数据 -->
            <div class="nodate">
                <img src="__IIMG__/no_commit.png" alt="">
                <p>哎呀，您还没有发表任何评论呢！</p>
            </div>
            <div class="my_commit">
                <div class="commit_list">
                    <div class="commit_head clearfix">
                        <div class="commit_head_left">
                            <img src="__IIMG__/userhead_nv.png" alt="">
                        </div>
                        <div class="commit_head_right">
                            <p class="commit_username">爱吃鱼的猫</p>
                            <p class="commit_time">52分钟前</p>
                        </div>
                    </div>
                    <p class="commit_txt">懂贷咖的查询结果还是挺准的，赞一个。</p>
                    <p class="commit_zan">
                        <img src="__IIMG__/zan_red.png" alt=""> 3人赞过
                        <span>删除</span>
                    </p>
                </div>
                <div class="commit_list">
                    <div class="commit_head clearfix">
                        <div class="commit_head_left">
                            <img src="__IIMG__/userhead_nv.png" alt="">
                        </div>
                        <div class="commit_head_right">
                            <p class="commit_username">爱吃鱼的猫</p>
                            <p class="commit_time">52分钟前</p>
                        </div>
                    </div>
                    <p class="commit_txt">对人人贷这么了解，你可以的。</p>
                    <div class="commit_reply">
                        <p class="reply_user">
                            <img src="__IIMG__/userhead_nan.png" alt=""> 万晋
                        </p>
                        <p class="reply_txt">人人贷是友信金服旗下的互联网金融平台，主打个人借贷，信息披露比较透明，会公布每季度的相关运营数据，方便出借人了解平台的运行状况，及时预测和判断风险，交易资金交由中国民生银行进行存管。</p>
                    </div>
                    <p class="commit_zan">
                        <img src="__IIMG__/zan_red.png" alt=""> 112人赞过
                        <span>删除</span>
                    </p>
                </div>
                <p class="last_tips">已显示全部评论记录</p>
            </div>
        </div>
        <div class="release_bot tab_content"></div>
        <div class="search_bot tab_content"></div>
    </div>
</div>
</body>
<script>
    $(".tab_list").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
        var index = $(this).index();
        $(".tab_content").eq(index).addClass("active").siblings().removeClass("active");
    })
</script>
</html>