{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('backend/product/index')}">产品管理</a></li>
            <li class="layui-this">添加产品</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('backend/product/save')}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">产品名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" value="" required lay-verify="required" placeholder="请输入产品名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">产品图标</label>
                        <div class="layui-input-block">
                            <input type="text" name="thumb" value="" class="layui-input layui-input-inline" id="thumb" placeholder="">
                            <button type="button" class="layui-btn" id="file_upload" data-type="5" style="height: 38px;"><i class="layui-icon">&#xe67c;</i>上传图片</button>
                        </div>
                    </div>
					<div class="layui-form-item">
                        <label class="layui-form-label">说明</label>
                        <div class="layui-input-block">
                            <input type="text" name="marks" value="" required lay-verify="required" placeholder="请输入说明" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">默认成本价</label>
                        <div class="layui-input-block">
                            <input type="text" name="price" value="" placeholder="成本价" class="layui-input">
                        </div>
                    </div>
                  <div class="layui-form-item">
                        <label class="layui-form-label">二级佣金</label>
                        <div class="layui-input-block">
                            <input type="text" name="commission" value="" placeholder="请输入二级佣金" class="layui-input">
                        </div>
                    </div>
					 <div class="layui-form-item">
                        <label class="layui-form-label">默认查询价</label>
                        <div class="layui-input-block">
                            <input type="text" name="prices" value="" placeholder="查询价" class="layui-input">
                        </div>
                    </div>
					
					<div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="text" name="descc" value="0" lay-verify="number" placeholder="排序" class="layui-input">
                        </div>
                    </div>
				  <div class="layui-form-item">
                        <label class="layui-form-label">公开否</label>
                        <div class="layui-input-block">
                            <input type="radio" name="state" value="1" title="公开" checked="checked">
                            <input type="radio" name="state" value="0" title="不公开">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
					
                </form>
            </div>
        </div>
    </div>
</div>
{/block}