{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">产品管理</li>
            <li class=""><a href="{:url('backend/product/add')}">添加产品</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <form class="layui-form layui-form-pane" action="{:url('backend/product/index')}" method="get">
				
                    <div class="layui-inline">
                        <label class="layui-form-label">关键词</label>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="{$keyword}" placeholder="请输入关键词" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn">搜索</button>
						
                    </div>
                </form>
                <hr>

                <table class="layui-table">
                    <thead>
                    <tr>
                        <th style="width: 30px;">ID</th>
                        <th>产品名称</th>
						<th>产品图标</th>
                     	<th>介绍</th>
                        <th>默认成本价</th>
                      	<th>二级佣金</th>
                        <th>默认查询价</th>
                        <th>排序</th>
                        <th>公开否</th>
                      	<th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
						<td>{if condition="isset($vo.thumb) && !empty($vo.thumb)"}<img style="height:50px; width:50px;" src="{$vo.thumb}"/>{/if}</td>
                        <td>{$vo.marks}</td>
                        <td>{$vo.price}</td>
                      	<td>{$vo.commission}</td>
                        <td>{$vo.prices}</td>
						<td>{$vo.descc}</td>
						 <td>{php}echo $vo['state']==1 ? '公开' : '不公开';{/php}</td>
                        <td>
						 	 
                            <a href="{:url('backend/product/edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                            <a href="{:url('backend/product/delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
				<div style="float:right; font-size:20px;"> 产品数：{$list|count}</div>
                <!--分页-->
                {$list->render()}
            </div>
        </div>
    </div>
</div>
{/block}